@import "../styles/vars";

.wrapper {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
  }
  .general {
    display: flex;
    justify-content: center;
  }
  .general-items {
    width: 200px;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & img {
      width: 120px;
    }
  }
  .following-days {
    justify-content: center;
    align-items: center;
  }

  .day {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    margin: 0 auto;
  }